# .NET build artifacts
bin/
obj/
*.user
*.suo

# Node modules (frontend)
node_modules/

# Python env
venv/
__pycache__/

# Environment secrets
.env
*.env
.env.local

# Databases
*.db
*.sqlite
*.sqlite3

# Migrations
migrations/

# Others
*.docx
*.pdf
*.xlsx
*.tmp
*.log
*.DS_Store